<div class="container">
  <div class="row mt centered">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Pokerstats</h1>
      <h3>The smart poker status manager!</h3>
    </div>
  </div>
  <div class="row mt centered">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" #timeUnit placeholder="time unit">
      </div>
      <button (click)="updateGraph(timeUnit.value)" class="btn btn-primary btn-lg">update</button>
    </form>
    <h3 class="first">All Players</h3>
    <p-lineChart [value]="data" width="640" height="320" [scaleStartValue]="-100" [scaleBeginAtZero]="false"
                 [scaleOverride]="true" [scaleSteps]="20" [scaleStepWidth]="10" [legend]="lgnd"></p-lineChart>
    <div #lgnd></div>
  </div>
</div>
