<div class="container">
  <div class="row mt centered">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Pokerstats</h1>
      <h3>The smart poker status manager!</h3>
    </div>
  </div>
  <div class="row mt centered">
    <form class="form-inline" role="form">
      <input type="text" class="form-control" #maxEntries placeholder="20">
      <button (click)="updateGraph('SECONDS', maxEntries.value)" class="btn btn-primary btn-lg">in seconds</button>
      <button (click)="updateGraph('MINUTES', maxEntries.value)" class="btn btn-primary btn-lg">in minutes</button>
      <button (click)="updateGraph('HOURS', maxEntries.value)" class="btn btn-primary btn-lg">in hours</button>
      <button (click)="updateGraph('DAYS', maxEntries.value)" class="btn btn-primary btn-lg">in days</button>
    </form>
    <h3 class="first">All Players</h3>
    <p-lineChart [value]="data" width="640" height="320" [scaleStartValue]="-100" [scaleBeginAtZero]="false"
                 [scaleOverride]="true" [scaleSteps]="20" [scaleStepWidth]="10" [legend]="lgnd"></p-lineChart>
    <div #lgnd></div>
  </div>
</div>
