<div class="container">
  <div class="row mt centered">
    <div class="col-lg-10 col-lg-offset-1">
      <h1>Pokerstats</h1>
      <h3>The smart poker status manager!</h3>
      <hr>
      <p>List of all players:</p>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players" (click)="showAccountPositions(player)">
          <td>{{ player.firstName }}</td>
          <td>{{ player.lastName }}</td>
        </tr>
        </tbody>
      </table>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" #firstName placeholder="first name">
          <input type="text" class="form-control" #lastName placeholder="last name">
        </div>
        <button (click)="createPlayer(firstName.value, lastName.value)" class="btn btn-primary btn-lg">create</button>
      </form>
    </div>
  </div><!-- /row -->
  <hr>
  <div class="{{ (selectedPlayer == null) ? 'hide' : 'row mt centered' }}">
    <div class="col-lg-10 col-lg-offset-1">
      <p>List of all account positions for {{ (selectedPlayer == null) ? 'No player selected' :
        selectedPlayer.firstName + ' ' + selectedPlayer.lastName }}:</p>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let accountPosition of accountPositions">
          <td>{{ accountPosition.amount }}</td>
          <td>{{ accountPosition.currency }}</td>
        </tr>
        </tbody>
      </table>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" #amount placeholder="amount">
          <input type="text" class="form-control" #currency placeholder="currency">
        </div>
        <button (click)="createAccountPosition(amount.value, currency.value)"
                class="btn btn-primary btn-lg">create
        </button>
      </form>
    </div>
    <hr>
  </div><!-- /row -->
</div>
